  .loginhome{
  position: absolute;
  left:auto;
  right:25px;
  top:15px;

  height: 45px;
  width: 85px;
  background-color:green;
  border: solid green;
  border-radius: 5px;
  font-family:system-ui;
    font-size: 16px;
  color: black;
  font-weight: bold;
}
#chorei{
  position: relative;
  background: #292727;
  border: 5px solid #292727;
  color: #292727
}
  